# OS-specific
.DS_Store
.directory

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Vagrant temp
.vagrant

# IDE
.idea/*
*.iml

# Python
*.pyc

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Compiled documentation
docs/_build/*
